body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

main {
    margin: 10px;
}

.container {
    text-align: center;
    margin: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: black;
}

button {
    padding: 18px 36px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.topnav {
    background-color: brown;
    overflow: hidden;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.topnav * {
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    text-decoration: none;
}

.topnav a.active {
    background-color: white;
    color: black;
}

.topnav a.inactive {
    color: white;
}

.main_img {
    height: 200px;
    width: 400px;
}

.title {
    margin: 20px;
    text-align: center;
}

#pdfPreviewContainer {
    display: flex;
    justify-content: center;
}

.logo{
    height: 75px;
    width: 75px;
    position: absolute;
    left: 5px;
    top: 5px;
}