nav a {
    color: #6e41d6; font-size: 2em;
    margin-left: 50px; text-decoration: none;
}

.reviews {
    padding: 20px; margin: 10px;
    background-color: #f7f4f4;
}

.review {
        margin-left: 50px; font-size: 20px;
}