/* yay css so fun */

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #a5a5a5;
    margin: 0;
    padding: 0;
}

/* for the nav bar (general) */
.nav-bar {
    background-color: #ba2f2f;
    padding: 15px 30px;
    display: flex;
    gap: 20px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 20px;
}

.nav-bar a.active {
    background-color: white;
    color: #ba2f2f;
}

/* main table header for the bottom section */
.info-header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.notebook-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.score-pill {
    background-color: #ba2f2f;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
}

.download-btn {
    margin-left: auto;
    background-color: #d8d8d8;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.download-icon {
    width: 20px;
}

/* layout */
.dashboard-container {
    background-color: #d8d8d8;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 40px 40px 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-box {
    background-color: #c4c4c4;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

/*some aesthetic blank spaces*/

.dashboard-top-row {
    display: flex;
    gap: 20px;
}

.flags-div, .iterations-div {
    flex: 1;
}

.sections-div {
    flex: 1;
}

.top-left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flags-iterations-row {
    display: flex;
    gap: 20px;
}


/* basic styling of the table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #b0b0b0;
}

.highlight-text {
    background-color: #e3c496;
    display: inline-block;
    padding: 0 5px;
}


.catalog-instruction {
    margin: 20px 40px;
    font-size: 1.8rem;
    text-align: center;
}

/* upload page columns/grid */
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* makes it so its 3 in a row */
    gap: 30px;
    padding: 0 40px;
}

.notebook-card {
    text-decoration: none;
    color: black;
}

.notebook-overview {
    background-color: #d8d8d8;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.thumbnail-placeholder {
    background-color: white;
    height: 250px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.notebook-thumbnail {
    width: 180px;
}
