<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <!--Navigation bar at the top of the screen-->
    <div class="nav-bar">
        <a href="home.html">Home</a>
        <a href="upload.html">Upload</a>
        <a href="catalog.html">Catalog</a>
    </div>
    <p>Select a notebook to view information:</p>
    <a href="notebookinfo.html">
    <div class="notebook-overview" href=""><!--This is the box for each individual notebook-->
        <p>name.pdf</p>
        <img class="notebook-thumbnail"> <!--First page of the pdf, acts as a thumbnail for it (not sure if using img is the right way to do this)-->
    </div>
    </a>
</body>
</html>