{% extends 'base.html' %}
{% block title %}Catalog{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
    <p class="catalog-instruction">Select a notebook to view information:</p>
    <div class="catalog-grid">
        {% for notebook in notebooks %}
        <a href="{{ url_for('notebookinfo', id=notebook[0]) }}" class="notebook-card">
            <div class="notebook-overview">
                <p class="notebook-name">{{ notebook[1] }}</p>
                <div class="thumbnail-placeholder">
                    <img class="notebook-thumbnail" src="/static/graphics/sample_thumbnail.png" alt="PDF">
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
