{% extends 'base.html' %}
{% block title %}Catalog{% endblock %}
{% block content %}
    <p class="catalog-instruction">Select a notebook to view information:</p>
    <div class="catalog-grid">
        <a href="{{ url_for('notebookinfo') }}" class="notebook-card">
            <div class="notebook-overview">
                <p class="notebook-name">Team3Notebook.pdf</p>
                <div class="thumbnail-placeholder">
                    <img class="notebook-thumbnail" src="/static/graphics/sample_thumbnail.png" alt="PDF">
                </div>
            </div>
        </a>
    </div>
{% endblock %}
