{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="home-wrap">
        <div class="home-split-left">
            <div class="logo-div">
                <img class="vex-logo" alt="VEX Robotics logo" src="/static/graphics/VEX-Robotics_Full-Color-1.png">
            </div>
        </div>
    
        <div class="home-split-right">
            <div class="home-buttons">
                <div>
                    <a href="{{ url_for('upload') }}"><button class="upload-button">Upload</button></a>
                </div>
                <div>
                    <a href="{{ url_for('catalog') }}"><button class="catalog-button">Catalog</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
