{% extends 'base.html' %}
{% block title %}Upload Notebook{% endblock %}
{% block content %}
    <div class="upload-row">

        <div class="upload-section">
            <div class="upload-instructions">
                <p>Upload a New Engineering Notebook</p>
            </div>

            <div class="upload-box">
                <img alt="pdf symbol" src="/static/graphics/pdf symbol.png" style="width: 50px";>
            </div>

            <!--If someone with more knowledge could help me id appreciate it-->
            <!--When this div is clicked, it should let the user upload a pdf-->
        </div>

        <div class="status-section">

            <div class="upload-status-header">
                <p>Upload Status</p>
            </div>

            <div class="status-table">
                <div class="pdf-status">
                    <!--This is where the info for each uploaded pdf will go-->
                    
                    <div class="notebook-name-uploadpage">
                        <p>Team3Notebook.pdf</p>
                    </div>

                    <div class="indiv-status">
                        <p>Upload Complete</p>
                    </div>
                </div>
            </div>

            <div class="status-overview">
                <p>1 Complete, 0 In Progress</p> <!--This is where the "2 complete | 1 in progress" part of the wireframe goes-->
            </div>
            
            <div class="vic-button">
                <a href="{{ url_for('catalog') }}" style="color: black;">View in Catalog &rarr;</a>
            </div>

        </div>

    </div>
{% endblock %}
