<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <a href="home.html">Home</a>
        <a href="upload.html">Upload</a>
        <a href="catalog.html">Catalog</a>
    </div>

    <div>
        <p>name.pdf</p>
        <div><p>xx/100</p></div><!--Completeness score-->
        <button>Download PDF <img alt="download symbol" src="../graphics/download symbol.png"></button><!--still needs to be made functional-->
    </div>

    <div><!--template stuff-->
        <div>
            <div>
                <div class="summary-div">
                    <p><strong>Summary:</strong></p>
                    <p>Summary content</p>
                </div>
                <div>
                    <div class="flags-div">
                        <p>&#9873; Flags for review:</p>
                        <ul>
                            <li>flag 1 (page)</li>
                            <li>flag 2 (page)</li>
                            <li>flag 3 (page)</li>
                        </ul>
                    </div>
                    <div class="iterations-div">
                        <p>Number of iterations: #</p>
                        <p>Page numbers:</p>
                        <ul>
                            <li>range 1</li>
                            <li>range 2</li>
                            <li>range 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sections-div">
                <p>Sections:</p>
                <ul>
                    <li>section 1</li>
                    <li>section 2</li>
                    <li>section 3</li>
                    <li>section 4</li>
                    <li>section 5</li>
                </ul>
                <p>Missing/Weak Sections:</p>
                <ul>
                    <li>section 1</li>
                    <li>section 2</li>
                </ul>
                <p>Completeness score: xx/100</p>
            </div>
        </div>
        <div class="questions-div">
            <p>Interview Questions:</p>
            <ul>
                <li>question 1</li>
                <li>question 2</li>
                <li>question 3</li>
            </ul>
        </div>
        <div class="design-process-div">
            <table>
                <tr>
                    <th>Engineering Design process</th>
                    <th>Evidence Found</th>
                    <th>Confidence Level</th><!--low/medium/high-->
                </tr>
                <tr>
                    <td>Identify the problem</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Brainstorm solutions</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Select best solution</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Build + program solution</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Testing solutions</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Repeat design process</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Independent inquiry</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Usability & completeness</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Project management</td>
                    <td>Text</td>
                    <td>Text</td>
                </tr>

            </table>
        </div>
    </div>

</body>
</html>