<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Navigation bar at the top of the screen-->
    <div class="nav-bar">
        <a href="home.html">Home</a>
        <a href="upload.html">Upload</a>
        <a href="catalog.html">Catalog</a>
    </div>

    <div>
        <p>Upload a New Engineering Notebook</p>
        <div>
            <img alt="pdf symbol" src="../graphics/pdf symbol.png">
            <!--If someone with more knowledge could help me id appreciate it-->
            <!--When this div is clicked, it should let the user upload a pdf-->
        </div>
    </div>

    <div>
        <p>Upload Status</p>
        <div>
            <div class="pdf-status">
                <!--This is where the info for each uploaded pdf will go-->
                <div>
                <p>pdf name</p>
                <p>status</p>
                </div>
                <div><p>&#x2705;</p></div><!--status in emoji form-->
            </div>
        </div>
        <p>Status Overview</p> <!--This is where the "2 complete | 1 in progress" part of the wireframe goes-->
        <a href="catalog.html">View in Catalog &rarr;</a>
    </div>
</body>
</html>